


.ok{
    background-image: url("./assets/dashbg.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover
   
}

.bgPic{
    background-image: url("./assets/bgPic3.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover
}