


.ok{
    background-image: url("./assets/dashbg.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover
   
}

.bgPic{
    background-image: url("./assets/bgPic3.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover
}
.trade{
    background-image: linear-gradient(to right top, #000000, #1a1a1a, #2d2d2d, #414141, #575757);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover
}